name: CI

on:
  push:
    branches: [ "main" ]
    paths:
      - "lessons-5/491/uniswap-v2-polkadot/**"
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "24"
          
      - name: Install zsh
        run: |
          sudo apt-get update
          sudo apt-get install -y zsh

      - name: Run script with zsh
        working-directory: lessons-5/491/uniswap-v2-polkadot
        run: zsh ./scripts/start-revive-rpc.sh
        
      - name: Install dependencies
        run: npm install
        
      - name: Test
        run: npm test
        working-directory: lessons-5/491/uniswap-v2-polkadot

